.title{
    font-size: 3.2rem;
    max-width: 390px;
    line-height: 3.5rem;
}

.under_title{
    max-width: 600px;
    font-size: 1.2rem;
}

.photo{
    display: flex;
    justify-content: end;
}

.photo img{
    max-width: 373px;
    width: 100%;
    height: auto;
    position: relative;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.da{
    column-gap: 25px;
    flex-wrap: wrap;
}

.cv .btn{
    max-width: 200px !important;
}

@media only screen and (max-width:1199px){
    .cv{
        margin-top: -25px;
    }
}

@media only screen and (max-width:990px){
    .kek{
        margin-top: 50px;
        margin-bottom: -250px;
    }
    .da{
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 3rem;
        max-width: 100%;
    }
    .under_title{
        max-width: 100%;
    }
    .photo{
        margin-top: 30px;
    }
    .photo img{
        max-width: 272px;
        width: 100%;
        object-fit: contain;
        z-index: 1;
        margin-bottom: 30px;
    }
}