.firstpart{
    height: 43px;
}

.bg-all {
    background-color: var(--navfooter);
}

.navbar-nav {
    column-gap: 30px;
    display: flex;
    align-items: end;
}

.navbar a {
    color: white !important;
    font-size: 1.2rem;
}

.navbar .nav-link.active {
    border-bottom: 3px solid white;
}

.form-select {
    width: 120px;
}

.form-select.mobile {
    display: none;
}

.navbar-brand img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.navbar-phone {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .navbar a {
        font-size: 1rem;
    }

    .navbar-brand img {
        max-width: 250px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .navbar a {
        font-size: 1rem;
    }

    .navbar-brand img {
        max-width: 250px;
    }
}

@media only screen and (max-width: 991px) {
    .firstpart {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .form-select.mobile {
        display: flex !important;
        width: 120px;
    }

    .form-select {
        display: none !important;
    }

    .butt_lang {
        display: flex;
        column-gap: 15px;
        flex-direction: row-reverse;
    }

    .navbar-nav {
        padding-top: 20px;
        text-align: end !important;
        flex-direction: column;
    }
}

@media only screen and (max-width: 472px) {
    .firstpart .navbar-brand {
        display: none;
    }

    .firstpart .navbar-phone {
        display: flex !important;
        width: 120px;
        height: 43px;
    }
    .navbar-phone img{
        height: 70px !important;
    }
}

@media only screen and (max-width: 377px) {
    .firstpart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 110px;
    }
    .firstpart .navbar-brand {
        display: flex;
        height: 43px;
    }

    .firstpart .navbar-phone {
        display: none !important;
    }

    .form-select.mobile {
        font-size: 0.8rem;
        max-width: 100px;
    }
    .navbar-nav {
        align-items: center;
    }
}
