:root {
  --bgcolorbody: #11071F;
  --navfooter: #1A0B2E;
}

#root {
  background-color: var(--bgcolorbody);
  min-height: 100svh;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  color: white !important;
  text-align: center;
  font-family: "Preahvihear", sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

header {
  flex-shrink: 0;
  background-color: var(--navfooter);
}

.content {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  background-color: var(--navfooter);
}
