:root {
  --bgcolorbody: #11071F;
  --navfooter: #1A0B2E;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--bgcolorbody);
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  color: white !important;
  font-family: "Preahvihear", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("./assets/img/Gradient.png"),url("./assets/img/Gradient.png");
  background-repeat: no-repeat;
  background-position: 900px, -150px 450px;
  background-size: 900px 800px, auto auto; 

}

header {
  flex-shrink: 0;
  background-color: var(--navfooter);
}

.content {
  flex-grow: 1;
  overflow: hidden;
}

footer {
  flex-shrink: 0;
  background-color: var(--navfooter);
  margin-top: auto;
}
